<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seven.clip.nziyodzemethodist"
    android:versionCode="16001"
    android:versionName="1.16.001">

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hymnDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pickNum2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hymnList2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainDrawer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FavList"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MakeFav"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".ClearData"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".removeFav"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".RecList"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />
        <activity android:name=".SandBox" />
        <activity
            android:name=".ChoosePic"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="clipseven.action.choosepic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareCustom"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".ColorMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="clipseven.action.choosecolor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Search" />
        <activity
            android:name=".SearchDialogue"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".AdjustTextSize"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups" />
        <activity android:name=".Credits" />
        <activity
            android:name=".Recorder"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups" />
        <activity android:name=".Captions" />
        <activity
            android:name=".addCaption"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".DeleteCaption"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".makeNote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".readNote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" />
        <activity android:name=".Notifications" />
        <activity android:name=".TextSizePrompt"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Popups"/>
    </application>

</manifest>