<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seven.clip.nziyodzemethodist">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".NziyoDzeMethodist"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity" />
        <activity
            android:name=".HymnDisplay"

            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".HymnList"/>
        <activity
            android:name=".MainDrawer"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavList"
             />
        <activity
            android:name=".ClearData"
            android:noHistory="true"
            android:theme="@style/AppTheme.Popups"/>
        <activity
            android:name=".removeFav"
            android:noHistory="true"
            
            android:theme="@style/AppTheme.Popups"/>
        <activity
            android:name=".RecList"
            android:noHistory="true"/>
        <activity
            android:name=".Splash"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.Fullscreen"/>
        <activity
            android:name=".ChoosePic">
            <intent-filter>
                <action android:name="seven.clip.action.choosepic" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareCustom"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".ColorMode"
            android:noHistory="true">
            <intent-filter>
                <action android:name="seven.clip.action.choosecolor" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Search" />
        <activity
            android:name=".AdjustTextSize"
            android:noHistory="true"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".Credits" />
        <activity
            android:name=".Recorder"
            android:noHistory="true"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".Captions"
            android:noHistory="true" />
        <activity
            android:name=".addCaption"
            android:noHistory="true"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".DeleteCaption"
            android:noHistory="true"
            android:theme="@style/AppTheme.Popups" />
        <activity
            android:name=".makeNote" />
        <activity
            android:name=".readNote" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Notifications" />
        <activity
            android:name=".CaptionList"
            android:noHistory="true" />
        <activity
            android:name=".EventLog" />
        <activity
            android:name=".ThemeChooser" />
        <activity
            android:name=".MakeCard" />
        <activity
            android:name=".BiblePicker" />
        <activity
            android:name=".ReadingList" />
        <activity
            android:name=".ManageLogin"
            android:theme="@style/AppTheme.Popups">
            <intent-filter>
                <action android:name="seven.clip.action.manageLogin" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadingDisplay" />
        <activity
            android:name=".SandBox" />
        <activity android:name=".SwipeSplash" />
    </application>
</manifest>